
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Estilos do modo escuro e modo claro(light)*/
:root{
  --text-color: white;
  --bg-url: url(assets/bg-desktop.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color-hover: rgba(255, 255, 255, 0.05);
  --switch-bg-url: url(assets/moon-stars.svg); 
  --backgroun-titulo: rgba(153, 18, 187, 0.205);
  --border-color: rgba(153, 53, 153, 0.8);
  --hover-button: rgba(255, 255, 255, 0.1);
  --bg-dialog: url(assets/fundo4.png);
}
 .light{
  --text-color: black;
  --bg-url: url(assets/bg-desktop-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
   --surface-color: rgba(0, 0, 0, 0.1);
   --surface-color-hover: rgba(0, 0, 0, 0.15);
   --highlight-color-hover: rgba(0, 0, 0, 0.23);
   --switch-bg-url: url(assets/sun.svg);
    --backgroun-titulo: rgb(0, 0, 0, 0.1);
    --border-color: rgba(0, 0, 0, 0.5);
    --hover-button: rgba(0, 0, 0, 0.12);
    --bg-dialog: url(assets/bg-desktop-light.jpg);
} 
body {
background: var(--bg-url) no-repeat top center/cover;
height: 100vh;

}
body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  text-align: center;
}
#container{
margin: auto; 
width: 100%;
max-width: 400px;
margin-top: 56px;
padding: 0px 24px;


 
} 
#perfil {
  margin: auto;
  position: top center;
}
#profile{
text-align: center;
padding: 24px;
margin-top: 8px;
}
#profile img {
display: block;
width: 150px;
margin: auto;
}

#profile p {
font-weight: 500;
line-height: 24px;
font-size: 18px;

}
h1{
  
background-color: var(--backgroun-titulo);
  border-radius: 8px;
  border: 2px solid var(--border-color); 
   
}
h5{
  margin: 10px;
  font-weight: 550;
}

/*Estilos do botão para trocar os modos*/
.toogle-wrapper{
display: flex;
align-items: center;
justify-content: center;
}
.slider {
  background: var(--surface-color);
  width: 64px;
  height: 24px;
  border: 1px solid var(--stroke-color);
  border-radius: 24px;
  position: relative;

}
.button{
   background: white var(--switch-bg-url)no-repeat center;
  border: 1px solid var(--stroke-color);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  pointer-events: none; 
  cursor: pointer;
  position: absolute;
  right: 32px;
  transform: translateY(-50%);
  top: 50%;
  transition: all 0.3s ease-in-out;
  animation: slide-back 0.2s;
}

.toogle-input:checked ~ .slider {
  background: rgba(103, 7, 133, 0.9);
  transition: background 0.9s;
  
}
.toogle-input:checked ~ .slider > .button {
  background: white var(--switch-bg-url) no-repeat center; 
  animation: slide-in 0.2s forwards;
  }
  .toogle-input{
    display: none;
  }

  
/*Lista de links*/
#button {
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  align-items: center;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: 4px;
  -webkit-backdrop-filter: 4px;
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;

}
#button:hover{
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
  }
#medalhas{
  width: 200px;
  height: 200px;
}
dialog{
  width: 100vh;
  margin: auto;
  background: var(--bg-dialog);
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 0 1em rgb(0, 0, 0, 1);

}
dialog p {
  text-align: left;
  font-weight: 400;
  margin: 15px;
}

#closebutton {
  background-color: var(--backgroun-titulo);
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid var(--border-color); 
}
#closebutton:hover{
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

ul {
list-style: none;
display: flex;
flex-direction: column;
gap: 16px;
padding: 24px 0;
}
ul a {
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  align-items: center;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: 4px;
  -webkit-backdrop-filter: 4px;
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/*pseudo-selector*/
/*efeito ao passar o mouse*/
ul li a:hover{
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}
  
#redes-sociais{
  display: flex;
  justify-content: center;
  
  padding: 24px 0;
  
  font-size: 30px;

  }
  #redes-sociais a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    transition: background 0.2s;
  }
  /*efeito ao passar o mouse*/
  #redes-sociais a:hover{
    background: var(--highlight-color-hover);
    
    
  }
@media (min-width: 700px){
  :root{
    --bg-url: url(/assets/assets/bg-desktop.jpg);
  }
  .light{
    --bg-url: url(/assets/assets/bg-desktop-light.jpg);
  }
}

/*animação slide do botão*/
 @keyframes slide-in {
  from{
    left: 0;
  }
  to {
    left: 50%;
  }
 }
 @keyframes slide-back {
  from{
    left: 50%;
  }
  to{
    left:0;
  }
 }
 
/*hover do botão*/
 .toogle-wrapper:hover .button {
  outline: 8px solid var(--hover-button);
  transition: background 0.2s;
}